#page-top {
    overflow-x: hidden !important;
}
.bg-color {
    background-color: #D9D9D9
    ;
}
.margin_left {
    margin-left: 1%;
    margin-top: 0.4%;
}

.dataTables_filter,
.datatable_length {
    margin-bottom: 10px !important;
}

div.dataTables_wrapper div.dataTables_paginate,
.dataTables_info {
    margin-top: 10px !important;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 5px 0px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.circle-bg {
    background-color: #d5d0d0;
}

.cir-pink-bg {
    background-color: #9a9494;
}



#picture__input {
    display: none;
}

.propic {
    width: 135px;
    height: 135px;
    /* aspect-ratio: 16/9; */
    background: #ddd;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    border-radius: 50%;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
    width: 168px;
    height: 168px;
    border-radius: 50%;
}


.btn-group-sm>.btn, .btn-sm.custom_btn_sm {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 0.2rem;
    margin: 1px;
    }

    [type="search"] {
      -webkit-appearance: textfield;
       outline-offset: -2px;
        font-size: 18px;
        border-radius: 4px;
        border: 1px solid #878787;
    }
    input:focus{
        outline: 1px solid rgb(255, 154, 1);
    }







.custom_dash_menu ul li:first-child {
    background: none !important;
   border-radius: 10px;
   }
.border_right{
    border-right: 1px solid rgb(202, 199, 199);
}
.side-bar{
  width: 100%;
  min-height: 80vh;
  background: #fff;
}
.side-bar{
    padding:17px 17px 10px 10px ;
}

body {
    background-color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #686868;
}
.dash_menu {
    position: relative;

}
.dash_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.active {
    background: #FFF;
    color: #686868;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.design_logo img{
    width: 90px;
    height: auto;
    border-radius: 50%;
}
.design_logo p{
    font-size: 13px;
    padding-bottom: 8px;
    margin: 0px;
    color: #686868;
    line-break: anywhere;
    padding: 0px 8px;
    margin-bottom: 12px;
}
.design_logo h5{
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
    margin: 6px 0px 0px 0px;
}
.dash_menu ul li:first-child {
 background: #DADADA;
    border-radius: 10px;
}

.left_manu {
    background: #DADADA;
    color: #686868;
    border-radius: 10px;
}
.dash_menu ul li:first-child::hover {
    background: #FFFFFF;
}
.dash_menu ul li a img{
    padding-right: 16px;
}
.dash_menu ul li a {
    display: block;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.2s linear;
    color: #686868;
}
.dash_menu ul li a:hover {
    background: #DADADA;
    color: #686868;
    border-radius: 10px;
}
.dash_menu ul li ul li a:hover {
    background: #FFF;
    color: #686868;
    border-radius: 10px;
    margin-left:15px;
    margin-right:15px;
}
.dash_menu ul li ul li{
    padding-left: 20px;
}
.dash_menu ul li ul li:last-child{
    padding-bottom: 10px;
}
.dash_menu ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
    float:right;
}
.dash_menu ul li ul li a {
    border-left: 4px solid transparent;
    padding: 3px 20px;
}
.menu ul li a {
    display: inline-block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 147.5%;
    text-align: center;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.menu ul li ul li a:hover {
    background: #FFF;
    transition: 0.5s;
}
.icon {
    margin-right: 35px;
}

.nav-icon {
    display: none;
    float: right;
    text-decoration: none !important;
}
.nav-icon i {
    font-size: 24px;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top: 1px;
}

@media all and (max-width: 767px) {
    .nav-icon {
        display: block;
    }
    .side-bar {
        width: 100%;
        min-height:0vh;
    }
    .mobile_sidebar img{
        width: 60px;
        height: auto;
        border-radius: 50%;
    }
    .mobile_sidebar h5{
        font-size: 14px;
        font-weight: 700;
        padding: 0px;
        margin: 6px 0px 0px 0px;
    }
    .mobile_sidebar p{
        font-size: 13px;
        padding-bottom: 8px;
        margin: 0px;
        color: #686868;
        line-break: anywhere;
        padding: 0px 8px;
    }
    .mobile_menu {
        overflow: hidden;
        padding: 30px 0;
        position: absolute;
        top: 14%;
        width: 50%;
        min-height: 5vh;
        left: 0;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        background: #fff;
        z-index: 99 !important;
        opacity: 1;
    }
   .hide_mobile_view a{
    display: none;
   }
    .menu ul {
        display: block;
        margin-top: 36px;
    }
    .logo p{
        display: none;
    }
    .logo h5{
        margin-bottom:0px ;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-icon span {
            color: #000;
            font-size: 60px;
            right: 4px;
            position: relative;
            line-height: 74px;
            top: -21px;
            z-index: 99999;
        }
    .menu ul li a {
        color: #FFF;
        margin-bottom: 15px;
    }
    .canvas-menu {
        left: -100%;
    }
    .menu.sign_out_menu > ul:nth-child(1) > li:nth-child(6) > a:nth-child(1) {
        margin-left: 26px;
    }
    .middle_content {
        padding-top: 96px;
        padding-bottom: 92px;
    }
    .middle_content h2 {
        font-size: 29px;
        line-height: 41px;
    }
    .single_item {
        margin-left: 0;
        margin-bottom: 25px;
    }
    .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media all and (max-width: 374px) {
    .nav-icon {
        display: block;
    }
    .side-bar {
        width: 100%;
        min-height:0vh;
    }
    .mobile_sidebar img{
        width: 60px;
        height: auto;
        border-radius: 50%;
    }
    .mobile_sidebar h5{
        font-size: 14px;
        font-weight: 700;
        padding: 0px;
        margin: 6px 0px 0px 0px;
    }
    .mobile_sidebar p{
        font-size: 13px;
        padding-bottom: 8px;
        margin: 0px;
        color: #686868;
        line-break: anywhere;
        padding: 0px 8px;
    }
    .mobile_menu {
        overflow: hidden;
        padding: 30px 0;
        position: absolute;
        top: 27%;
        width: 60%;
        min-height: 5vh;
        left: 0;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        background: #fff;
        z-index: 999999999 !important;
        opacity: 1;
    }
   .hide_mobile_view a{
    display: none;
   }
    .menu ul {
        display: block;
        margin-top: 36px;
    }
    .logo p{
        display: none;
    }
    .logo h5{
        margin-bottom:0px ;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-icon span {
            color: #000;
            font-size: 60px;
            right: 4px;
            position: relative;
            line-height: 74px;
            top: -21px;
            z-index: 99999;
        }
    .menu ul li a {
        color: #FFF;
        margin-bottom: 15px;
    }
    .canvas-menu {
        left: -100%;
    }
    .menu.sign_out_menu > ul:nth-child(1) > li:nth-child(6) > a:nth-child(1) {
        margin-left: 26px;
    }
    .middle_content {
        padding-top: 96px;
        padding-bottom: 92px;
    }
    .middle_content h2 {
        font-size: 29px;
        line-height: 41px;
    }
    .single_item {
        margin-left: 0;
        margin-bottom: 25px;
    }
    .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
