@font-face {
    font-family:custum_enfmish_fonts;
    src: url('fonts/Alike-Regular.ttf');
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: custum_enfmish_fonts !important;
}

* {
    font-family: custum_enfmish_fonts !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

